/* :root {
  --calendar-header-fg: light-dark(#2e1804, #353434);
  --calendar-header-bg: light-dark(#d4c192, #6e6c6c);
  --calendar-number-fg: light-dark(#787777, #444);
  --calendar-this-month-bg: light-dark(#f4f2d3, #442d2d);
  --calendar-month-bg: light-dark(#eeeeec, #323030);
  --calendar-today-fg: light-dark(#155741, #adf5c5);
}

.month-table {
  background: var(--container-bg);
  table-layout: fixed;
  height: 550px;
}


.month-table td, .month-table th {
  border: 1px solid var(--sep);
  box-shadow: none;
  padding: 0px 8px;
}


.month-table tr:nth-child(even) {
  background-color: transparent;
}


.month-table tr:not(:first-child):hover {
  background-color: transparent;
}

.month-table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: var(--table-header-bg);
  color: var(--table-header-fg);
  border-bottom: 1px solid var(--table-header-fg);
  font-weight: 900;
  height: 30px;
}

.month-table .btn-left, .month-table .btn-right {
  display: inline-block;
  margin: 5px;
}

.month-table .btn-right {
  float: right;
}

.month-header {
  display: flex;
  background-color: var(--calendar-header-bg);
  text-align: center;
}

.month-header h2 {
  width: 100%;
  color: var(--calendar-header-fg);
  padding: 6px 0;
}

.month-table td .num {
  font-size: 10px;
  color: var(--calendar-number-fg);
  padding: 0px;
}

.month-table td {
  background-color: var(--calendar-month-bg);
  vertical-align: top;
  height: 80px;
  overflow: hidden;
}

.this-month {
  background-color: var(--calendar-this-month-bg) !important;
}

.today {
  font-weight: bold;
  border: 1px solid var(--calendar-today-fg);
  border-radius: 50%;
  padding: 0px 4px !important;
  color: var(--calendar-today-fg) !important;
}

.btn-left, .btn-right {
  padding-top: 1px;
  transition: none;
} */
