@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
/*.rbroDocumentGrid {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAEklEQVQYlWNgYGD4zzAKBh8AAJYTAQA4FYKbAAAAAElFTkSuQmCC);
	background-repeat: repeat;
	position: absolute;
}*/
:root {
    color-scheme: light dark;
    --bg: light-dark(#d8d8d8, #18191a);
    --fg: light-dark(#18191a, #d8d8d8);
    --header-bg: light-dark(#1d3a4e, #121214);
    --header-fg: #d8d8d8;
    --header-border: light-dark(#444, black);
    --header-shadow: light-dark(#999, black);
    --header-btn-focus: light-dark(#142835, #121214);
    --pressed-btn-border: light-dark(#444, #444);
    --container-bg: light-dark(#fff, #191b1d);
    --container-border: light-dark(#a3a09e, #5b5a5914);
    --container-shadow: light-dark(#999, black);
    --dropdown-bg: light-dark(#eee, #121214);
    --dropdown-fg: light-dark(#1d3a4e, #eee);
    --dropdown-border: #5b5a5914;
    --dropdown-shadow: black;
    --lgn-icon: light-dark(invert(22%) sepia(11%) saturate(1957%) hue-rotate(162deg) brightness(92%) contrast(99%), invert(100%) sepia(8%) saturate(887%) hue-rotate(175deg) brightness(95%) contrast(90%), invert(100%) sepia(8%) saturate(887%) hue-rotate(175deg) brightness(95%) contrast(90%));
    --pwr-light-scheme: invert(22%) sepia(11%) saturate(1957%) hue-rotate(162deg) brightness(92%) contrast(99%);
    --pwr-light-scheme-pressed: invert(100%) sepia(8%) saturate(887%) hue-rotate(175deg) brightness(95%) contrast(90%);
    --input-border: #444;
    --sep: light-dark(#b9b9b9, black);
    --sep-border: light-dark(#f5f2f2, #2A2A2A);
    --link: light-dark(#1d3a4e, #82aac5);
    --nav-link: light-dark(#1d3a4e, #bebebe);
    --nav-sub-link: light-dark(#2a5674, #e7e5e5);
    --btn-primary-hover: #1d3a4e;
    --btn-primary-fg-hover: #CECECE;
    --error-bg: #bb2929;
    --header-height: 38px;
    --nav-width: 280px;
    --table-header-bg: transparent;
    --table-header-fg: light-dark(#4a4d4c, #a2b4b1);
    --table-fg: light-dark(#16181a, #a2b4b1);
    --table-row-bg-alt: light-dark(#f3f3f3, #16181a);
    --table-row-hover: light-dark(#d8d5d5, #161616);
}

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-transition: .15s ease-in-out; 
    -moz-transition: .15s ease-in-out; 
    -o-transition: .15s ease-in-out; 
    transition: .15s ease-in-out; 
    margin: 0; 
    padding: 0; 
    -webkit-text-size-adjust: none;
    font-family: 'Mukta', sans-serif; 
    font-size: 16px;
} 

body {
    margin: 0;
    background: var(--bg);
    color: var(--fg);
}

.lc {
    padding: 5px 20px 20px 20px;
    border: 1px solid var(--container-border);
    border-radius: 3px;
    background-color: var(--container-bg);
    box-shadow: 0 0 4px var(--container-shadow);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -200px; /* half of you height */
    width: 512px;
    margin-left: -256px; /* half of you width */
}

.lc-header {
    background-color: transparent;
    color: white;
    padding: 10px auto;
    margin: 10px auto;
    text-align: center;
    
}

.lc-icon {
    width: 24px;
    height: 24px;
    position: relative;
    top: 5px;
    /* filter: invert(100%) sepia(8%) saturate(887%) hue-rotate(175deg) brightness(95%) contrast(90%); */
    filter: --var(--lgn-icon);
}

hr {
    background-color: var(--sep);
    border: none;
    border-bottom: 1px solid var(--sep-border);
    height: 2px;
    margin-bottom: 10px;
}

#nav hr {
    margin-bottom: auto;
}

a:link, a:visited {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    color: var(--fg);
}

#nav a {
    display: block;
    width: 100%;
    margin-left: 0;
    padding-left: 0px;
}

#nav a:link, a:visited {
    color: var(--nav-link);
}
#nav a:hover {
    background-color: var(--nav-link);
    color: var(--container-bg);
}
input {
    width: 100%;
    border: 1px solid var(--input-border);
    padding: 6px 10px;
    margin: 6px 2px;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
    background-color: var(--bg);
    color: var(--fg);
}

input[type=button], input[type=submit], input[type=reset] {
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 600;
    width: 100%;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: var(--btn-primary-hover);
    color: var(--btn-primary-fg-hover);
    border-color: var(--fg);
}

.login-submit-btn-container {
    text-align: center;
}

.error-msg {
    text-align: center;
    background: transparent;
    border: none;
    color: var(--error-bg);
    margin: 2px 4px;
    border-radius: 8px;
    padding: 0 5px;
}

.pwreset-error {
    display: inline-block;
    margin-left: 100px;
}

.info-msg {
    text-align: center;
    background: transparent;
    border: none;
    margin: 2px 4px;
    border-radius: 8px;
    padding: 0 5px;
}
.info-msg-sm span {
    font-size: 14px;
}

.brand {
    text-decoration: none;
    color: var(--fg) !important;
}

#header {
    position: fixed; 
    width: 100%; 
    left: 0;
    top: 0;
    background: var(--header-bg);
    color: var(--header-fg);
    height: var(--header-height);
    line-height: var(--header-height);
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid var(--header-border);
    box-shadow: 0 0 4px var(--header-shadow);
    z-index: 2;
}

#nav {
    position:fixed;
    height:100%;
    width: var(--nav-width);
    top: var(--header-height);
    left: 0;
    background: var(--container-bg);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    border-right: 1px solid var(--container-border);
    box-shadow: 0 0 4px var(--container-shadow);
    padding: 0;
}

#nav-toggle {
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 1;
}

#nav-toggle-label { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    margin-left: -40px;
    height: var(--header-height); 
    width: var(--header-height); 
    display: block; 
    position: fixed; 
    background: transparent;
    z-index: 3;
    top: 0;
    left: 0;
    cursor: pointer;
}

#nav-toggle-label:before { 
    content: ''; 
    display: block; 
    position: absolute; 
    height: 3px; 
    width: 20px;
    background: var(--header-fg); 
    left: 9px; 
    top: 12px;
    box-shadow: 0 6px 0 var(--header-fg), 0 12px 0 var(--header-fg);
}

#main {
    position: fixed; 
    width: calc(100% - var(--nav-width));
    height: calc(100% - var(--header-height));
    left: 0;
    top: 0;
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    padding: 5px;
    text-align: center;
    overflow-y: scroll;
    z-index: 0;
    overflow-x:hidden; 
    -webkit-overflow-scrolling: touch;
}

.container {
    padding: 7px;
    border: 1px solid var(--container-border);
    border-radius: 3px;
    background-color: var(--container-bg);
    box-shadow: 0 0 4px var(--container-shadow);
    position: relative;
    width: calc(100% - 10px);
    margin: 10px auto;
    text-align: left;
    overflow-x: auto;
}

.pwr-dropdown {
    line-height: var(--header-height);
}

.pwr {
    position: absolute;
    display: flex;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 900;
    left: 0px;
    padding-left: 0px;
    padding-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: var(--header-fg);
    height: calc(var(--header-height) - 4px);
    top: 0px;
    cursor: pointer;
}

.pwr img {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.pwr img,
.pwr span,
.acct span,
a span {
    vertical-align: middle;
}

.pwr-icon {
    filter: invert(100%) sepia(8%) saturate(887%) hue-rotate(175deg) brightness(95%) contrast(90%);
}

.pwr-dropdown {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    outline: none;
    margin: 0px;
    z-index: 3;
}

.pwr-dropdown .pwr-dropdown-content {
    position: fixed;
    left: 5px;
    margin-top: 20px;
    border: 1px solid var(--dropdown-border);
    border-radius: 3px;
    background-color: var(--dropdown-bg);
    min-width: 120px;
    box-shadow: 3px 3px 5px var(--dropdown-shadow);
    z-index: 30;
    visibility: hidden;
    opacity: 0;
    transition: none;
    text-align: left;
    padding: 0;
}
.pwr-dropdown-content a {
    color: var(--dropdown-fg);
    display: block;
    text-decoration: none;
    transition: 0.35s ease-out;
    padding: 2px auto;
    font-size: 14px;

}
.pwr-dropdown-content a:hover {
    background-color: var(--dropdown-fg);
    color: var(--dropdown-bg);
}

#pwr-toggle {
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 29;
}

#pwr-toggle:checked {
    position: fixed;
}

#pwr-toggle:checked  ~ .pwr-dropdown-content {
    outline: none;
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
}

#pwr-toggle:checked ~ .pwr {
    border: 1px solid var(--pressed-btn-border);
    background-color: var(--header-btn-focus);
    transition: none;
}


#pwr-toggle:checked {
    position: fixed;
}



/* ACCT BUTTON */
.acct {
    position: fixed;
    display: block;
    text-decoration: none;
    right: 0;
    top: 0;
    color: var(--header-fg);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    height: calc(var(--header-height) - 4px);
}

.acct span {
    font-size: 16px;
    padding: 0;
}


.acct:hover {
    text-decoration: none;
}


#acct-toggle {
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 29;
}

#acct-toggle:checked {
    position: fixed;
}

#acct-toggle:checked  ~ .acct-dropdown-content {
    outline: none;
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
}

#acct-toggle:checked ~ .acct {
    border: 1px solid var(--pressed-btn-border);
    background-color: var(--header-btn-focus);
}


#acct-toggle:checked {
    position: fixed;
}

#nav-toggle:checked {
    position: fixed;
}

/* dd container */
.acct-dropdown {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none;
    margin: 0px;
}

/* dd content */
.acct-dropdown .acct-dropdown-content {
    position: fixed;
    right: 5px;
    margin-top: 20px;
    border: 1px solid var(--dropdown-border);
    border-radius: 3px;
    background-color: var(--dropdown-bg);
    box-shadow: 3px 3px 5px var(--dropdown-shadow);
    z-index: 30;
    min-width: 120px;
    visibility: hidden;
    opacity: 0;
    transition: none;
    text-align: left;
    padding: 0;
}

.acct-dropdown-content a {
    color: var(--dropdown-fg);
    display: block;
    text-decoration: none;
    transition: none;
    padding: 0px 10px;
    font-size: 14px;

}
.acct-dropdown-content a:hover {
    background-color: var(--dropdown-fg);
    color: var(--dropdown-bg);
}

#nav-toggle:checked {
    position: fixed;
}

.mr-2 {
    margin-right: 5px;
    padding-left: 5px;
}


/************** TABLE **************************/


table {
    /* border: 1px solid var(--header-bg); */
    border-radius: 3px;
    border-collapse: collapse;
    width: 100%;
    color: var(--table-fg);
}

table td, table th {
    border-bottom: 1px solid var(--sep);
    box-shadow: 0 1px 0 var(--sep-border);
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: var(--table-row-bg-alt);
}


table tr:not(:first-child):hover {
    background-color: var(--table-row-hover);
}

table th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: var(--table-header-bg);
    color: var(--table-header-fg);
    border-bottom: 1px solid var(--table-header-fg);
    font-weight: 900;
}

.collapsible {
    color: var(--nav-link);
    cursor: pointer;
    padding-left: 0px;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
    margin-left: 0;
}

.active, .collapsible:hover  {
    background-color: var(--nav-link);
    color: var(--container-bg);
}
.collapsible:hover:after {
    color: var(--container-bg);
}
.collapsible:after {
    content: '\002B';
    color: var(--nav-link);
    font-weight: bold;
    float: right;
    margin-right: 5px;
}

.active:after {
    content: "\2212";
    color: var(--container-bg);
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--container-bg);
}

.collapsible-content a {
    padding-left: 15px !important;
}
.collapsible-content a:hover {
    background-color: var(--nav-sub-link) !important;
}
/* .collapsible-content:hover {
    background-color: var(--nav-link);
} */

@media only screen and (max-width: 770px) {
    #nav-toggle-label {
        margin-left: 0;
    }
    #main {
        margin-left: 0;
        width: 100%;
    }
    #nav {
        left: -280px;
        padding-top: 40px;
    }

    .pwr-dropdown {
        margin-top: 40px;
        margin-left: -280px;
        z-index: 40;
    }

    #nav-toggle:checked ~ #pwr-dropdown {
        margin-left: 0px !important;
    }
    
    #nav-toggle:checked ~ #nav { 
        left: 0;
    }
    #nav-toggle:checked ~ #main { 
        margin-left: 280px;
    }
    #nav-toggle:checked ~ #nav-toggle-label {
        background: var(--header-btn-focus);
    }

    .acct-dropdown-content {
        /* width: 95% !important; */
        margin-right: 10px;
    }

    .pwr-dropdown-content {
        /* width: 95% !important; */
        margin-left: 10px;
    }

    .pwr {
        color: var(--dropdown-fg);
    }

    #pwr-toggle:checked ~ .pwr {
        background-color: #fff;
    }
    @media (prefers-color-scheme: light) {
	    .pwr-icon {
		filter: var(--pwr-light-scheme);
	    }
        .lc-icon {
        filter: var(--pwr-light-scheme);
        }
    }
}


@media only screen and (max-width: 516px) {
    .lc {
        left: 0;
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
    }  
}
