@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --header-height: 38px;
    --nav-width: 280px;
    --primary: #29526D;
    --primary-light2: #82aac5;
    --primary-darker: #1d3a4e;
    --primary-light: #e6e7e8;
    --fire-orange: #d35014;
}

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-transition: .25s ease-in-out; 
    -moz-transition: .25s ease-in-out; 
    -o-transition: .25s ease-in-out; 
    transition: .25s ease-in-out; 
    margin: 0; 
    padding: 0; 
    -webkit-text-size-adjust: none;
    font-family: 'Mukta', sans-serif; 
    font-size: 16px;
} 

body {
    margin: 0;
    background: var(--primary-light);
}

#header {
    position: fixed; 
    width: 100%; 
    left: 0;
    top: 0;
    background: var(--primary);
    color: var(--primary-light);
    height: var(--header-height);
    line-height: var(--header-height);
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 4px #000000FF;
    z-index: 2;
}

/* position: fixed; 
    top: 0; 
    left:-280px; 
    height: 100%; 
    width: 280px; 
    background: #fff; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    padding: 0 10px;
    -webkit-overflow-scrolling: touch;
    box-shadow: inset -4px 0 5px -4px rgba(0,0,0,0.8); */

#nav {
    position:fixed;
    height:100%;
    width: var(--nav-width);
    top: var(--header-height);
    left: 0;
    background:white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    /* box-shadow: inset -4px 0 5px -4px rgba(0,0,0,0.8); */
    box-shadow: 0 0 4px #00000080;
}

#nav-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

#nav-toggle {
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 1;
}

#nav-toggle-label { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    margin-left: -40px;
    height: var(--header-height); 
    width: var(--header-height); 
    display: block; 
    position: fixed; 
    background: transparent;
    z-index: 3;
    top: 0;
    /* right: 0; */
    left: 0;
    cursor: pointer;
}

#nav-toggle-label:before { 
    content: ''; 
    display: block; 
    position: absolute; 
    height: 3px; 
    width: 20px;
    background: var(--primary-light); 
    left: 9px; 
    top: 12px;
    box-shadow: 0 6px 0 var(--primary-light), 0 12px 0 var(--primary-light);
}

#nav ul {
    font-size: 14px;
    list-style-type:none;
    margin-top: 10px;
}

#nav ul a {
    display:block;
    padding:10px; 
    color:rgb(91, 90, 89);
    text-decoration:none;
}

#nav ul a:hover { 
    color:black;
    background-color: #ECECEC;
} 

#nav li {
    border-top: 2px solid #e6e7e8;
}
#nav li:last-child {
    border-bottom: 2px solid #e6e7e8;
}

.nav-category {
    /* background: #f5f6f7; */
    
    background: linear-gradient(90deg, #fff 0%, #f5f6f7 10%, #f5f6f7 90%, #fff 100%);
    color:#000; 
    padding: 3px;
    text-align: center;
}

.nav-arrow {
    position: relative;
    font-size: 26px;
    float: right;
    margin-top: -12px;
}

#main {
    position: fixed; 
    width: calc(100% - var(--nav-width));
    height: calc(100% - var(--header-height));
    left: 0;
    top: 0;
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    padding: 5px;
    text-align: center;
    overflow-y: scroll;
    z-index: 0;
    overflow-x:hidden; 
    -webkit-overflow-scrolling: touch;
}


.container {
    padding: 7px;
    border: 1px solid rgba(91,90,89,.08);
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 4px #00000040;
    position: relative;
    width: calc(100% - 10px);
    margin: 10px auto;
    color: #292929;
    text-align: left;
}

.lc {
    max-width: 500px;
    width: 100%;
}

a:link {
    color: black;
    /* font-weight: 500; */
    text-decoration: none;
}

/* POWER BUTTON */

.pwr-dropdown {
    line-height: var(--header-height);
}

.pwr {
    position: absolute;
    display: flex;
    text-decoration: none;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 20px;
    left: 5px;
    top: 0px;
    cursor: pointer;
    color: var(--primary-light);
}

.pwr:hover {
    color: var(--primary-light2);
}

.pwr:hover .pwr-icon {
    filter: invert(72%) sepia(51%) saturate(216%) hue-rotate(161deg) brightness(82%) contrast(91%);
}

.pwr img {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.pwr img,
.pwr span,
a span {
    vertical-align: middle;
}

.pwr-icon {
    filter: invert(100%) sepia(8%) saturate(887%) hue-rotate(175deg) brightness(95%) contrast(90%);
}
.pwr-icon:hover {
    filter: invert(72%) sepia(51%) saturate(216%) hue-rotate(161deg) brightness(82%) contrast(91%);
}
.pwr-dropdown:focus .pwr-icon {
    filter: invert(18%) sepia(15%) saturate(2188%) hue-rotate(162deg) brightness(89%) contrast(86%);
}
.pwr-dropdown:focus .pwr span {
    color: var(--primary-darker);
}

/* dd container */
.pwr-dropdown {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    outline: none;
    margin: 0px;
    z-index: 3;
}

/* dd content */
.pwr-dropdown .pwr-dropdown-content {
    position: absolute;
    margin-top: 20px;
    margin-left: 5px;
    border: 1px solid var(--primary-darker);
    border-radius: 3px;
    background-color: var(--primary-light);
    width: 200px;
    box-shadow: 3px 3px 5px var(--primary);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s ease-out;
    text-align: left;
    padding: 0;
}
.pwr-dropdown-content a {
    color: var(--primary-darker);
    display: block;
    text-decoration: none;
    transition: 0.35s ease-out;
    padding: 2px auto;
    font-size: 14px;

}
.pwr-dropdown-content a:hover {
    background-color: var(--primary);
    color: var(--primary-light);
}

.pwr-dropdown:focus .pwr-dropdown-content {
    outline: none;
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
}

/* mask to close menu by clicking on the button */
.pwr-dropdown .pwr-db2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    display: none;
}
.pwr-dropdown .pwr-db2:focus .pwr-dropdown-content {
    outline: none;
    visibility: hidden;
    opacity: 0;
}

/* ACCT BUTTON */

.acct {
    position: fixed;
    display: block;
    text-decoration: none;
    right: 5px;
    top: 0;
    margin-bottom: 5px;
    cursor: pointer;
}

.login-btn {
    border: 1px solid var(--primary-light);
    border-radius: 3px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}


#acct-toggle {
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.acct span {
    font-size: 16px;
    margin-bottom: 0px;
}

.acct:hover {
    text-decoration: none;
    color: #82aac5;
}

.acct-dropdown:focus span {
    color: var(--primary-darker);
}

#acct-toggle:checked ~ .acct span {
    color: var(--primary-darker);
}

#acct-toggle:checked ~ .login-btn {
    border-color: var(--primary-darker);
}

#acct-toggle:checked {
    position: fixed;
}

#nav-toggle:checked {
    position: fixed;
}

/* dd container */
.acct-dropdown {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    outline: none;
    margin: 0px;
}

/* dd content */
.acct-dropdown .acct-dropdown-content {
    position: fixed;
    right: 5px;
    margin-top: 20px;
    border: 1px solid var(--primary);
    border-radius: 3px;
    background-color: var(--primary-light);
    width: 400px;
    box-shadow: 3px 3px 5px var(--primary);
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.35s ease-out;
    text-align: left;
    padding: 16px;
}
.acct-dropdown-content a {
    color: var(--primary-light);
    background: transparent;
    display: block;
    text-decoration: none;
    transition: 0.35s ease-out;
    padding: 2px auto;
    font-size: 14px;

}
.acct-dropdown-content a:hover {
    background-color: var(--primary);
    color: var(--primary-light);
}
.acct-dropdown-content a:hover span {
    color: var(--primary-light);
}

.logged-in {
    padding: 4px !important;
    width: 200px !important;
}

.logged-in a {
    color: var(--primary-darker);
    display: block;
    text-decoration: none;
    transition: 0.35s ease-out;
    padding: 2px auto;
    font-size: 14px;

}
.logged-in a:hover {
    background-color: var(--primary);
    color: var(--primary-light);
}

.acct-dropdown-content .fpl {
    width: 150px;
    color: var(--primary);
    margin-left: 2px;
}
.acct-dropdown-content .fpl:visited {
    color: var(--primary);

}
.acct-dropdown-content .fpl:hover {
    background: transparent;
    color: rgb(7, 19, 41);

}

/* show dd content */
#acct-toggle:checked  ~ .acct-dropdown-content {
    outline: none;
    transform: translateY(20px);
    visibility: visible;
    opacity: 1;
}

/* LOGIN BUTTON */

.login-btn {
    position: fixed;
    display: block;
    background-color: transparent;
    border: 1px solid var(--primary-light);
    border-radius: 3px;
    color: var(--primary-light);
    right: 10px;
    top: 0;
    margin-top: 4px;
    cursor: pointer;
    padding: 0px 6px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}

.login-btn:hover {
    color: var(--primary-light2);
    border-color: var(--primary-light2);
}


/* mask to close menu by clicking on the button */
.acct-dropdown .acct-db2 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    display: none;
}
.acct-dropdown .acct-db2:focus .acct-dropdown-content {
    outline: none;
    visibility: hidden;
    opacity: 0;
}

input {
    width: 100%;
    border: 1px solid #CCC;
    padding: 6px 10px;
    margin: 6px 2px;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    color: var(--primary-light);
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 600;
    width: 100%;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: var(--primary-darker);
}

.login-submit-btn-container {
    text-align: center;
}

.login-error {
    text-align: center;
    color: #bd1111;
    font-size: 600;
}


.mr-2 {
    margin-right: 5px;
    padding-left: 5px;
}

@media only screen and (max-width: 770px) {
    #nav-toggle-label {
        margin-left: 0;
    }
    #main {
        margin-left: 0;
        width: 100%;
    }
    #nav {
        left: -280px;
    }
    #nav ul {
        margin-top: 40px;
    }

        
    .pwr-dropdown {
        margin-top: 40px;
        margin-left: -280px;
        z-index: 1;
    }

    #nav-toggle:checked ~ .pwr-dropdown {
        margin-left: 0px;
    }
    
    .pwr {
        color: #1d3a4e;
    }

    .pwr-icon {
        filter: invert(18%) sepia(15%) saturate(2188%) hue-rotate(162deg) brightness(89%) contrast(86%);
    }

    #nav-toggle:checked ~ #nav { 
        left: 0;
    }
    #nav-toggle:checked ~ #main { 
        margin-left: 280px;
    }
    #nav-toggle:checked ~ #nav-toggle-label {
        background:#1d3a4e;
    }

    .acct-dropdown-content {
        width: 95% !important;
        margin-right: 10px;
    }
}
