@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --header-height: 38px;
    --nav-width: 280px;
    --primary: #29526D;
    --primary-darker: #1d3a4e;
    --primary-light: #e6e7e8;
    --fire-orange: #d35014;
}

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box; 
    box-sizing: border-box; 
    -webkit-transition: .25s ease-in-out; 
    -moz-transition: .25s ease-in-out; 
    -o-transition: .25s ease-in-out; 
    transition: .25s ease-in-out; 
    margin: 0; 
    padding: 0; 
    -webkit-text-size-adjust: none;
    font-family: 'Mukta', sans-serif; 
    font-size: 16px;
} 

body {
    margin: 0;
    background: var(--primary-light);
}

#header {
    position: fixed; 
    width: 100%; 
    left: 0;
    top: 0;
    background: var(--primary);
    color: var(--primary-light);
    height: var(--header-height);
    line-height: var(--header-height);
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 4px #000000FF;
    z-index: 2;
}

/* position: fixed; 
    top: 0; 
    left:-280px; 
    height: 100%; 
    width: 280px; 
    background: #fff; 
    overflow-x: hidden; 
    overflow-y: hidden; 
    padding: 0 10px;
    -webkit-overflow-scrolling: touch;
    box-shadow: inset -4px 0 5px -4px rgba(0,0,0,0.8); */

#nav {
    position:fixed;
    height:100%;
    width: var(--nav-width);
    top: var(--header-height);
    left: 0;
    background:white;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    /* box-shadow: inset -4px 0 5px -4px rgba(0,0,0,0.8); */
    box-shadow: 0 0 4px #00000080;
}

#nav-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

#nav-toggle { 
    position: absolute;
    opacity: 0;
}

#nav-toggle-label { 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    
    height: var(--header-height); 
    width: var(--header-height); 
    display: none; 
    position: fixed; 
    background: transparent;
    z-index: 3;
    top: 0;
    /* right: 0; */
    left: 0;
    cursor: pointer;
}

#nav-toggle-label:before { 
    content: ''; 
    display: block; 
    position: absolute; 
    height: 3px; 
    width: 20px;
    background: var(--primary-light); 
    left: 9px; 
    top: 12px;
    box-shadow: 0 6px 0 var(--primary-light), 0 12px 0 var(--primary-light);
}
#nav-toggle-label:hover {
    background:#1d3a4e;
}

#main {
    position: fixed; 
    width: calc(100% - var(--nav-width));
    height: calc(100% - var(--header-height));
    left: 0;
    top: 0;
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    padding: 5px;
    text-align: center;
    overflow-y: scroll;
    z-index: 0;
    overflow-x:hidden; 
    -webkit-overflow-scrolling: touch;
}


.container {
    padding: 7px;
    border: 1px solid rgba(91,90,89,.08);
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 0 4px #00000040;
    position: relative;
    width: calc(100% - 10px);
    margin: 10px auto;
    color: #292929;
    text-align: left;
}
.brand {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    color: #000;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 20px;
    left: 5px;
    top: 0px;
}

.brand:hover {
    text-decoration: none;
}

.brand img {
    width: 24px;
    height: 24px;
}

.brand img,
.brand span {
    vertical-align: middle;
}


svg {
    color : "red";
}

@media only screen and (max-width: 640px) {
    #nav-toggle-label {
        display: block;
    }
    #main {
        margin-left: 0;
        width: 100%;
    }
    #nav {
        left: -280px;
    }
    #nav-toggle:checked ~ #nav { 
        left: 0;
    }
    #nav-toggle:checked ~ #main { 
        margin-left: 280px;
    }
    #nav-toggle:checked ~ #nav-toggle-label {
        background:#1d3a4e;
    }

}
